<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/navbarUtility.css}">
	<link rel="stylesheet" th:href="@{/css/addingstyle.css}">
	<script th:src="@{/js/script.js}"></script>
	<link rel="icon" type="image/x-icon" th:href="@{/css/favicon.png}">
	<script src="https://kit.fontawesome.com/7d53697cb5.js" crossorigin="anonymous"></script>
	<title>Admin Change Password</title>
</head>

<body>
	<header class="homeheader">
		<div id="navbar" class="navbar top">
			<h1 class="logo">
				<span class="text-primary"><i class="fa-solid fa-handshake"></i>
					&nbsp;</span>WeCare
			</h1>
			<nav>
				<ul>
					<li class="buttons"><a th:href="@{/wecare/admin/track-complaints}">Track Complaints</a></li>
					<li class="buttons"><a th:href="@{/wecare/admin/jurisdictions}">Jurisdictions</a></li>
					<li class="buttons"><a th:href="@{/wecare/admin/officers}">Officers</a></li>
					<li>&nbsp; </li>
					<li>
						<div class="user-icon">
							<span>[[${adminName}]]</span> &nbsp;
							<button class="user-icon-button">
								<i class="fa-solid fa-user-tie"></i>
							</button>
							<div class="dropdown-content">
								<a th:href="@{/wecare/admin/officers/add}">Add Officer</a>
								<a th:href="@{/wecare/admin/jurisdictions/add}">Add Jurisdiction</a>
								<a th:href="@{/logout}" onclick="confirmLogout(event)">Logout
									<i class="fa-solid fa-right-from-bracket"
										style="color: #e40707; margin-left: 5px; font-size:20px;"></i></a>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="popup" class="popup">
		<p th:if="${passwordError}" th:text="${passwordError}"></p>
		<p th:if="${passwordMatchError}" th:text="${passwordMatchError}"></p>
	</div>

	<div class="tableCaption">
		<p>CHANGE PASSWORD</p>
	</div>

	<form th:action="@{/wecare/admin/change-password}" method="post" th:object="${passwordModel}">
    	<label>Current Password:</label>
    	<input type="password" th:field="*{currentPassword}" placeholder="Enter Current Password" required>

    	<label>New Password:</label>
    	<input type="password" th:field="*{newPassword}" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" id="newPassword"
         	  title="Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one digit, and one special character (@$!%*?&)"
           	  placeholder="Enter New Password" required>

    	<label>Confirm Password:</label>
    	<input type="password" th:field="*{confirmPassword}" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" id="confirmPassword"
        	   title="Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one digit, and one special character (@$!%*?&)"
           	   placeholder="Confirm Password" required>
         
        <h5 id="passwordmessage" style="color: red;"></h5>

    	<div class="button-group">
            <button type="submit" class="pages pages-1">Save</button>
            <a th:href="@{/wecare/admin/view-profile}">
                <button type="button" class="pages pages-2">Cancel</button>
            </a>
        </div>
	</form>
</body>
</html>