<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/navbarUtility.css}">
	<script th:src="@{/js/script.js}"></script>
	<link rel="icon" type="image/x-icon" th:href="@{/css/favicon.png}">
	<link rel="stylesheet" th:href="@{/css/addingStyle.css}">
	<link rel="stylesheet" th:href="@{/css/createComplaint.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<title>Create Complaint</title>
	<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>

<body>
	<header class="homeheader">
		<div id="navbar" class="navbar top">
			<h1 class="logo">
				<span class="text-primary"><i class="fa-solid fa-handshake"></i>
					&nbsp;</span>WeCare
			</h1>
			<nav>
				<ul>
					<li>
						<div class="user-icon">
							<span>[[${userName}]]</span> &nbsp;
							<button class="user-icon-button">
								<i class="fa-solid fa-user"></i>
							</button>
							<div class="dropdown-content">
								<a th:href="@{/wecare/user/view-profile}">View Profile</a>
								<a th:href="@{/wecare/user/change-password}">Change Password</a>
								<a th:href="@{/logout}" onclick="confirmLogout(event)">Logout <i
										class="fa-solid fa-right-from-bracket"
										style="color: #e40707; margin-left: 5px; font-size:20px;"></i></a>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<div class="tableCaption">
		<p>CREATE COMPLAINT</p>
	</div>

	<form th:action="@{/wecare/user/create-complaint}" method="post" th:object="${complaint}">
	    <div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 15px;">
    	    <div style="flex-basis: calc(33.33% - 10px); margin-right: 10px;">
        	    <label for="area">Area :</label>
            	<select id="area" name="area" onchange="updateWards()" th:field="*{area}" required>
                	<option value="" selected> ---- Select Area ---- </option>
                	<option th:each="jury : ${jurisdictions}" th:value="${jury}" th:text="${jury}"></option>
            	</select>
        	</div>

        	<div style="flex-basis: calc(33.33% - 10px); margin-right: 10px;">
            	<label for="ward">Ward :</label>
            	<select id="ward" name="ward" onchange="updateLayouts()" th:field="*{ward}" required>
                	<option value=""> ---- Select Ward ---- </option>
            	</select>
        	</div>

        	<div style="flex-basis: calc(33.33% - 10px);">
            	<label for="layout">Layout :</label>
            	<select id="layout" name="layout" th:field="*{layout}" required>
                	<option value=""> ---- Select Layout ---- </option>
            	</select>
        	</div>
    	</div>

    	<div style="display: flex; flex-wrap: wrap; justify-content: space-between; margin-bottom: 15px;">
        	<div style="flex-basis: calc(33.33% - 10px); margin-right: 10px;">
            	<label for="address">Address<span class="required-text">&nbsp;*</span> :</label>
            	<input type="text" id="address" name="address" th:field="*{address}" maxlength="255"
                	   placeholder="Enter your Address" required />
        	</div>

        	<div style="flex-basis: calc(33.33% - 10px); margin-right: 10px;">
            	<label for="landmark">Landmark<span class="required-text">&nbsp;*</span> :</label>
            	<input type="text" id="landmark" name="landmark" th:field="*{landmark}" maxlength="50"
                	   placeholder="Enter a Landmark" required />
        	</div>

        	<div style="flex-basis: calc(33.33% - 10px);">
            	<label for="issue">Issue<span class="required-text">&nbsp;*</span> :</label>
            	<select id="issue" name="issue" th:field="*{issue}" required>
                	<option value=""> ---- Select Issue ---- </option>
					<option value="Waste Management">Waste Management</option>
					<option value="Infrastructure Development">Infrastructure Development</option>
					<option value="Water Scarcity">Water Scarcity</option>
					<option value="Drainage and Flooding">Drainage and Flooding</option>
					<option value="Air Quality">Air Quality</option>
					<option value="Illegal Encroachments">Illegal Encroachments</option>
					<option value="Green Spaces and Parks">Green Spaces and Parks</option>
					<option value="Public Transportation">Public Transportation</option>
					<option value="Street Lighting">Street Lighting</option>
					<option value="Noise Pollution">Noise Pollution</option>
					<option value="Others">Others</option>
            	</select>
        	</div>
    	</div>

    	<div style="margin-bottom: 5px;">
        	<label>Comment<span class="required-text">&nbsp;*</span> :</label>
        	<textarea id="comment" name="comment" th:field="*{comment}" placeholder="Type your comment here ...."
            	      maxlength="2000" rows="5" cols="10" required></textarea>
    	</div>
	    <div>
    	    <button type="submit" class="pages pages-1">Save</button>
        	<a th:href="@{/wecare/user/track-complaints}">
            	<button type="button" class="pages pages-2">Cancel</button>
        	</a>
    	</div>
	</form>
</body>
</html>