<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/navbarUtility.css}">
	<link rel="stylesheet" th:href="@{/css/addingStyle.css}">
	<script src="https://kit.fontawesome.com/7d53697cb5.js" crossorigin="anonymous"></script>
	<script th:src="@{/js/script.js}"></script>
	<link rel="icon" type="image/x-icon" th:href="@{/css/favicon.png}">
	<title>Edit Officer</title>
</head>

<body>
	<header class="homeheader">
		<div id="navbar" class="navbar top">
			<h1 class="logo">
				<span class="text-primary"><i class="fa-solid fa-handshake"></i>
					&nbsp;</span>WeCare
			</h1>
			<nav>
				<ul>
					<li class="buttons"><a th:href="@{/wecare/admin/track-complaints}">Track
							Complaints</a></li>
					<li class="buttons"><a th:href="@{/wecare/admin/jurisdictions}">Jurisdictions</a></li>
					<li>&nbsp;</li>
					<li>
						<div class="user-icon">
							<span>[[${adminName}]]</span> &nbsp;
							<button class="user-icon-button">
								<i class="fa-solid fa-user-tie"></i>
							</button>
							<div class="dropdown-content">
								<a th:href="@{/wecare/admin/jurisdictions/add}">Add Jurisdiction</a>
								<a th:href="@{/wecare/admin/officers/add}">Add Officer</a>
								<a th:href="@{/wecare/admin/view-profile}">View Profile</a>
								<a th:href="@{/wecare/admin/change-password}">Change Password</a>
								<a th:href="@{/logout}" onclick="confirmLogout(event)">Logout
									<i class="fa-solid fa-right-from-bracket"
										style="color: #e40707; margin-left: 5px; font-size: 20px;"></i></a>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>

	<div id="popup" class="popup" th:if="${errorMessage}">
		<p th:text="${errorMessage}"></p>
	</div>


	<div class="tableCaption">
		<p>EDIT OFFICER</p>
	</div>

	<form th:action="@{/wecare/admin/officers/update-officer}" th:object="${officer}" method="post">

		<input type="hidden" th:field="*{officerId}"> <label></label>

		<label>Officer Name<span class="required-text">*</span> :
		</label> <input type="text" id="name" name="name" th:field="*{officerName}" pattern="^[a-zA-Z\s]+$"
			maxlength="40" placeholder="Enter Officer's Name"
			oninvalid="setCustomValidity('Name should be less than 40 characters and contain only letters')"
			onchange="try{setCustomValidity('')}catch(e){}" required autofocus />

		<label>Address : </label> <input type="text" id="address" name="address" th:field="*{address}"
			pattern="^[a-zA-Z0-9#\s]+$" maxlength="50" placeholder="Enter Officer's Address"
			oninvalid="setCustomValidity('Address should be less than 50 characters and contain only letters')"
			onchange="try{setCustomValidity('')}catch(e){}" autofocus /> <label>Email<span
				class="required-text">*</span> :
		</label> <input type="email" id="email" name="email" th:field="*{email}"
			pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Enter Officer's email" required />
		<label>Phone<span class="required-text">*</span> :
		</label> <input type="tel" class="input-field" id="phone" name="phone" th:field="*{phone}" pattern="[0-9]{10}"
			maxlength="10" title="Phone Number Should contain only Digits" placeholder="Enter Officer's Phone Number *"
			required> 
			
		<label>Jurisdiction<span class="required-text">*</span> :</label> 
		<select name="juryId" id="juryId" th:disabled="${officer.hasComplaints()}">
			<option th:each="jurisdiction : ${jurisdictions}" th:value="${jurisdiction.juryId}"
				th:text="${jurisdiction.area + ' - ' + jurisdiction.ward + ' - ' + jurisdiction.layout}"
				th:selected="${officer.juryOfficer != null && officer.juryOfficer.juryId == jurisdiction.juryId}">
			</option>
		</select>
		<table>
			<caption></caption>
			<tr>
				<th>
				<td>
					<button type="submit" class="pages pages-1">Save</button> <a
						th:href="@{/wecare/admin/officers}"><button type="button"
							class="pages pages-2">Cancel</button></a>
				</td>
				</th>
			</tr>
		</table>
	</form>
	<br>
	<br>
</body>

</html>