<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" th:href="@{/css/navbarUtility.css}">
	<link rel="stylesheet" th:href="@{/css/addingStyle.css}">
	<script th:src="@{/js/script.js}"></script>
	<script src="https://kit.fontawesome.com/7d53697cb5.js" crossorigin="anonymous"></script>
	<link rel="icon" type="image/x-icon" th:href="@{/css/favicon.png}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<title>Create Complaint</title>
</head>

<body>
	<header class="homeheader">
		<div id="navbar" class="navbar top">
			<h1 class="logo">
				<span class="text-primary"><i class="fa-solid fa-handshake"></i>
					&nbsp;</span>WeCare
			</h1>
			<nav>
				<ul>
					<li class="buttons"><a th:href="@{/wecare/user/track-complaints}">Track Complaints</a></li>
					<li>&nbsp; </li>
					<li>
						<div class="user-icon">
							<span>[[${userName}]]</span> &nbsp;
							<button class="user-icon-button">
								<i class="fa-solid fa-user"></i>
							</button>
							<div class="dropdown-content">
								<a th:href="@{/wecare/user/change-password}">Change Password</a>
								<a th:href="@{/logout}" onclick="confirmLogout(event)">Logout <i
										class="fa-solid fa-right-from-bracket"
										style="color: #e40707; margin-left: 5px; font-size:20px;"></i></a>
							</div>
						</div>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	
	<div id="popup" class="popup" th:if="${errorMessage}">
		<p th:text="${errorMessage}"></p>
	</div>
	
	<div class="tableCaption">
		<p>EDIT PROFILE</p>
	</div>

	<form th:action="@{/wecare/user/update-profile}" method="post" th:object="${user}">

		<input type="hidden" th:field="*{userId}">
		<label>User Name <span class="required-text">*</span></label>
		<input type="text" class="input-field" id="userName" name="userName" pattern="[A-Za-z0-9]{3,}" maxlength="15"
			placeholder="Enter your Username"  th:field="*{userName}"
			oninvalid="setCustomValidity('Name should be more than 3 characters and contain only letters')"
			onchange="try{setCustomValidity('')}catch(e){}" required autofocus />

		<label>First Name <span class="required-text">*</span></label>
		<input type="text" class="input-field" id="firstName" name="firstName" pattern="[A-Za-z]{3,}" maxlength="15"
			placeholder="Enter your First Name" th:field="*{firstName}"
			oninvalid="setCustomValidity('Name should be more than 3 characters and contain only letters')"
			onchange="try{setCustomValidity('')}catch(e){}" required>

		<label>Last Name</label>
		<input type="text" class="input-field" id="lastName" name="lastName" pattern="[A-Za-z]{3,}" maxlength="15"
			placeholder="Enter your Last Name" th:field="*{lastName}"
			oninvalid="setCustomValidity('Name should be more than 3 characters and contain only letters')"
			onchange="try{setCustomValidity('')}catch(e){}">

		<label>Phone No. <span class="required-text">*</span></label>
		<input type="tel" class="input-field" id="phone" name="phone" pattern="[0-9]{10}" maxlength="10"
			title="Phone Number Should contain only Digits" placeholder="Enter your Phone Number" th:field="*{phone}" required>

		<label for="email">Email <span class="required-text">*</span></label>
		<input type="email" class="input-field" id="email" name="email"
			pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" placeholder="Enter your Email" th:field="*{email}" required>

		<table>
			<caption></caption>
			<tr>
				<th>
				<td>
					<button type="submit" class="pages pages-1">Save</button> <a
						th:href="@{/wecare/user/view-profile}"><button type="button"
							class="pages pages-2">Cancel</button></a>
				</td>
				</th>
			</tr>
		</table>
	</form>
	<br>
	<br>

</body>

</html>